body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*========================Custom by ThanhBr==============================================*/
:root {
  --primary-color: #2397f0;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #666;
  --text-color: #333;
  --plum-color: #ff424f;

  /*===== Custom color =====*/
  --current-color: #575757;
  --current-hover-color: #e6e8ec;
  --secondary_100: #00081D;
  --navs-bg-hover: #e5e5ea;
  --code-text-bg:#f5f5f5;
  --border-frame-color: #f1f1f1;
  --border-frame-color-hover: #3498ff;

  /*=========== Button =============*/
  --btn-default-bg: #f7f7fa;
  --btn-default-hover-bg: #e5e5ea;
  --btn-primary-bg: #3498ff;
  --btn-primary-hover-bg: #2589f5;
  --btn-primary-active-bg: #1675e0;
  --btn-primary-text: #fff;
  --btn-link-text: #1675e0;
  --btn-subtle-text: #8e8e93;
  --btn-subtle-hover-text: #575757;
  --btn-subtle-hover-bg: #e5e5ea;
  --btn-ghost-border: #1675e0;
  --btn-ghost-text: #1675e0;
  --btn-ghost-hover-border: #0a5dc2;
  --btn-ghost-hover-text: #0a5dc2;

  --btn-primary-code: #e96900;

  /*========== Font and typography ==========*/
  --body-font: 'SF Pro Display', sans-serif;
  --biggest-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --main-font-family: 'SF Pro Display';
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html body {
  font-family: var(--main-font-family);
  font-size: 16px;

  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4 {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0052ff;
}

/* input[type='checkbox'] {
  cursor: pointer;
  width: 15px;
  height: 15px;
} */

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
}

hr {
  margin: 0;
}
